html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

select.form-control {
    width: 160px;
}

.profile-width {
    width: 50%;
}

@media (max-width: 767.98px) {
    .profile-width {
        width: 100%;
    }
}